# Database
DB_USER=postgres
DB_PASSWORD=db-postgress-password
DB_NAME=projectflow-api

# JWT Secrets 
JWT_SECRET=secret-key-32-characters
JWT_REFRESH_SECRET=random-refresh-key-min-32-chars

# API
PORT=3000
NODE_ENV=development
API_BASE_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3000,http://localhost:3001